<main>
<div class="main">
    <h2>Fill in your first name, last name, and middle initial, CORRECTLY based on the information in Canvas.</h2>
  
    <div class="form-container">
      <div id="choosing">
    <label for="course" style="margin-left: 5%">Choose a course:  </label>
    <select name="course" id="course" [(ngModel)]="selectedCourse" (change)="onCourseChange()">
      <option value="cs111">CS111</option>
      <option value="cs112">CS112</option>
    </select>
  </div>
 

    <p id="selection" *ngIf="selectedCourse">You selected {{selectedCourse}}</p>

    

    
      <label for="firstNameInput">First Name</label>
      <div class="form-group">
      <input
        #firstName
        placeholder="John"
        (keyup.enter)="checkName(firstName.value, lastName.value, middleInitial.value); resetFields(firstName, lastName, middleInitial)"
        class="first-name-input"
        id="firstNameInput"
      />
    </div>
  
    
      <label for="MiddleInitialInput">Middle Initial (optional)</label>
      <div class="form-group">
      <input
        #middleInitial
        placeholder="F"
        (keyup.enter)="checkName(firstName.value, lastName.value, middleInitial.value); resetFields(firstName, lastName, middleInitial)"
        class="middle-initial-input"
        id="MiddleInitialInput"
      />
    </div>
    
      <label for="LastNameInput">Last Name</label>
      <div class="form-group">
      <input
        #lastName
        placeholder="Doe"
        (keyup.enter)="checkName(firstName.value, lastName.value, middleInitial.value); resetFields(firstName, lastName, middleInitial)"
        class="last-name-input"
        id="LastNameInput"
      />
    </div>
  
    <button
      class="btn-primary"
      (click)="checkName(firstName.value, lastName.value, middleInitial.value); resetFields(firstName, lastName, middleInitial)"
    >
      Find
    </button>
  </div>

  <div id="result">
    <p id="result-success" *ngIf="locationFound !== null">
      You entered {{ fullNamePrint }}
      <br />
      Location: {{ locationFound }}
    </p>
    <p id="result-error" *ngIf="locationFound === null">
      No location found, check for errors.
    </p>
  </div>

  </div>
</main>